@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
body{
    background-color: white ;
    color: black;
}
.logo{
    width: 90px;
    height: 90px;
    position: relative;
    right:150px ;
    font-family: 'Raleway';
    font-weight: 700;
}
nav a{
    margin: auto;
}
nav{
    width: 100%;
    position: relative;
    height: 100px;
    display: flex;
    background-color: #B59A59;
}
nav ul{
    display: flex;
    margin: auto;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: black;
    margin-left: 40px;
    font-size: large;
}
nav ul li a:hover{
    text-decoration: none;
    color: white;
    margin-left: 40px;
    font-size: larger;
}
span{
    color: black;
}
.konten{
    display: flex;
}
.konten h2{
    font-size: 4em;
}
.konten h3{
    font-size: 2em;
}
.konten .text p{
    font-size: 2em;
}
.text{
    margin-left: 120px;
    margin-top: 150px;
}
.gambar{
    margin-top: 50px;
}
.bgmenu{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #B59A59;
    clip-path: circle(600px at right 800px);
    z-index: -10;
}
.thumb{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}
.thumb li{
    list-style: none;
    display: inline-block;
    cursor: pointer;
    transition: 0.5s;
}
.thumb li:hover{
    transform: translateY(-15px);
}
.thumb li img{
    max-width: 60px;
}
.mnu{
    position: absolute;
    left: 50%;
    bottom: 5px;
    transform: translateX(-50%);
    display: flex;
}
.konten .text a{
    font-size: 1.5em;
    border: solid 1px black;
    background: black;
    padding: 10px;
    border-radius: 10px;
}
.konten .text a:hover{
    background:#2C394B ;
    color: white;
}
footer{
    width: 100%;
    position: relative;
    height: 50px;
    display: flex;
    bottom: -42px;
    align-items: center;
    justify-content: space-between;
    background-color: #B59A59;
}
footer a{
    color: black;
    text-decoration: none;
    margin-right: 25px;
}

.gambar img{
    height: 402px;
    width: 612px;
}
.container {
    background-color: white;
    padding: 100px 0 0 0;
}
figure img{
    width: 150px;
    height: 150px;
}
.uimenu{
    margin: 0 20px 0 20px;
}
.uimenu figcaption{
    text-align: center;
}
/* Slideshow container */
.content-slide {
    max-width: auto;
    position: relative;
    margin: auto;
    margin-bottom: 50px;
}

.imgslide {
    display: none;
}

.ss {
    vertical-align: middle;
    width:100%;
    height: 500px;
}

.prev,.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    color: rgb(255, 254, 224);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.8); 
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.pre:hover,.next:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: rgb(0, 0, 0);
}

.textt {
    color: black;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.content-slide .numberslide {
    color: #ffffff;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.tabcontent form{
    background-color: #B59A59;
    padding-left: 125px;
}
.tabcontent form button{
    background-color: #d9b08c;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    margin-left: 150px;
}
.tabcontent figure{
    display: flex;
}
#lokasi{
    display: flex;
}
#lokasi .lok{
    margin-left: 50px;
}
 .berita{
    margin-left: 250px;
}
/* resposive */


@media screen and (max-width:420px) {
    *{
        margin: 0;
        padding: 0;
    }
    header ul li a{
        color: #B59A59;
        font-size: small;
        margin-left: -40px;
    }
    header ul{
        display: inline-flex;
    }
    header ul li{
        width: 60px;
        height: auto;

    }
    header{
        width: 100%;
    }
    .logo{
        width: 50px;
        height: 50px;
        right: 40px;
        margin-left: 50px;
    }
    .hi{
        padding-left: 30px;
    }
    .text{
        margin-left: 10px;
        margin-top: 30px;
    }
    .konten h3{
        font-size: 1em;
    }
    .konten h2{
        font-size: 2em;
    }
    .konten{
        display: block;
    }
    .konten .text p{
        margin-top: 20px;
        font-size: 1em;
    }
    .konten .text a{
        font-size: 0.5em;
        border: solid 1px black;
        background: black;
        padding: 5px;
        border-radius: 10px;
    }
    .bgmenu{
        top: 70px;
    }
    .gambar img{
        height: 250px;
        width: 250px;
    }
    footer{
        bottom: -100px;
        font-size: small;
    }
    .foo a{
        position: relative;
        left: -110px;
        bottom: -50px;
    }
    .gambar{
        margin-top: 30px;
        margin-left:70px;
    }
    .thumb{
        bottom: -70px;
    }
    .mnu{
        bottom: -20px;
    }
    .kon{
        margin-left: 10px;
    }
    /* vm */
    .vmr{
        margin-top: 200px;
    }
    .vmr .visimisi h2{
        font-size: 18px;
    }
    /* menu */
    .tommenu1{
        display: block;
        margin-top: 50px;
        margin-left: -90px;
    }
    .tommenu1 button{
        height: 50px;
    }
    .tabcontent figure{
        display: block;
        margin-top: 50px;
        margin-right: 55px;
    }
    /* promo */
    .content-slide {
        padding: 8px 0px 12px 0px;
    }

    .next {
        right: 0px;
        border-radius: 3px 0 0 3px;
    }
    .textt{
        font-size: 10px;
    }
    /* kontak */
    .tabcontent div p{
        width: 360px;
    }
    .tabcontent form{
        width: 360px;
        padding-left: 0px;
    }
    #lokasi{
        display: block;
    }
    #lokasi .lok{
        margin-left: -50px;
        overflow: hidden;
        padding-bottom: 56.25%;
        position: relative;
        height: 0;
    }
    #lokasi .lok iframe{
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
        margin-top: 60px;
    }
    .berita{
        margin-left: -1px;
    }
    .berita img{
        width: 360px;
    }
    
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: .4;
    }    
    to {
        opacity: 1;
    }
}

.container .page {
    text-align: center;
    padding-top: 20px;
}

.page .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    display: inline-block;
    transition: background-color 0.6s ease;
    border-radius: 50%;
}

.page .active,
.page .dot:hover {
    background-color: #ce0000;
}
