*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: sans-serif;
}
body{
    background-color: #334756;
    color: white;
}
.logo{
    border-radius: 50%;
    width: 90px;
    height: 90px;
    position: relative;
    right:150px ;
}
header a{
    margin: auto;
}
header{
    width: 100%;
    position: relative;
    height: 100px;
    display: flex;
    background-color: #2C394B;
}
header ul{
    display: flex;
    margin: auto;
}
header ul li{
    list-style: none;
}
header ul li a{
    text-decoration: none;
    color: white;
    margin-left: 40px;
    font-size: large;
}
span{
    color: black;
}
.konten{
    display: flex;
}
.konten h2{
    font-size: 4em;
}
.konten h3{
    font-size: 2em;
}
.konten .text p{
    font-size: 2em;
}
.text{
    margin-left: 120px;
    margin-top: 150px;
}
.gambar{
    margin-top: 50px;
}
.bgmenu{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #B59A59;
    clip-path: circle(600px at right 800px);
    z-index: -10;
}
.thumb{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}
.thumb li{
    list-style: none;
    display: inline-block;
    cursor: pointer;
    transition: 0.5s;
}
.thumb li:hover{
    transform: translateY(-15px);
}
.thumb li img{
    max-width: 60px;
}
.mnu{
    position: absolute;
    left: 50%;
    bottom: 5px;
    transform: translateX(-50%);
    display: flex;
}
.konten .text a{
    font-size: 1.5em;
    border: solid 1px black;
    background: black;
    padding: 10px;
    border-radius: 10px;
}
.konten .text a:hover{
    background:#2C394B ;
    color: white;
}
footer{
    width: 100%;
    position: relative;
    height: 50px;
    display: flex;
    background-color: #2C394B;
    bottom: -42px;
    align-items: center;
    justify-content: space-between;
}
footer a{
    color: white;
    text-decoration: none;
    margin-right: 25px;
}

.gambar img{
    height: 402px;
    width: 612px;
}

@media screen and (max-width:600px) {
    *{
        margin: 0;
        padding: 0;
    }
    header ul li a{
        color: #B59A59;
        font-size: normal;
    }
    header ul{
        margin-right: 100px;
    }
    header{
        width: 177%;
    }
    .logo{
        width: 50px;
        height: 50px;
        right: 45px;
    }
    .konten h2{
        font-size: 0.5em;
    }
    .konten .text p{
        font-size: 1em;
    }
    .gambar img{
        height: 100px;
        width: 100px;
    }
    footer{
        bottom: 0;
    }
}